{% extends "bootstrap/base.html" %}

{% block title %}Estaciones meteorológicas{% endblock %}

{% block head %}
{{ super() }}
<!--hoja de estilo de openlayers-->
<link rel="stylesheet" type="text/css" href="{{ url_for('mapa.static', filename='index.css') }}">
<!--hoja de estilo propia-->
<link rel="stylesheet" type="text/css" href="{{ url_for('mapa.static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Estaciones</a>
          </div>
          <div class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                  <li><a href="/">Login</a></li>
                  <li><a href="/">Signup</a></li>
              </ul>
          </div>
      </div>
</div>
{% endblock %}

{% block content %}
 <div class="container-fluid">
     <div class="row" id="map"></div>
 </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('mapa.static', filename='index.js') }}"></script>
{% endblock %}